<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
            
        </div>
        <form name="passwordForm" class="form-horizontal" novalidate>
            <div class="modal-body">
                <div class="form-group" ng-class="{ 'has-error' : passwordForm.password.$invalid && !passwordForm.password.$pristine }">
                    <label class="control-label" for="focusedInput">Email</label>
                    <input class="form-control" name="password" id="focusedInput" type="email" ng-model="credentials.email" required></input>
                <p ng-show="passwordForm.password.$invalid && !passwordForm.password.$pristine " class="help-block">Email is required.</p>
                 <span class="help-block">New password would be sent to your registered Email</span>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="passwordForm.$invalid" ng-click="forgotpassword(passwordForm.$valid)">Reset Password</button>
            </div>
        </form>
    </div>
</div>