<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Update Password</h4>
            
        </div>
        <form name="passwordForm" class="form-horizontal" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="focusedInput">New Password</label>
                    <input class="form-control" id="focusedInput" type="text" ng-model="user.newpassword"></input>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="setPassword()">Update</button>
            </div>
        </form>
    </div>
</div>