<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email (simple)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hello, <span th:text="${name}">User</span>
        </p>
        <p>
        The password for your account has been changed successfully.
        </p>
        <p>New Credentials<br />
        <b>Email:</b><span th:text="${email}"></span><br />
        <b>Password:</b><span th:text="${password}"></span>     
        </p>
        <p><a href="http://www.flickingtruth.com/#/login">Login Now</a></p>   
        <br />
        <br />   
        <p>
            Regards, <br />
            <em>The Flicking Team</em><br />
            <a href="http://www.flickingtruth.com">www.flickingtruth.com</a>
        </p>
    </body>
</html>